{% extends "admindashboard.html" %}

{% block main %}

<div align="center">
<h1>Out of Stock Items</h1>
  {% if cart %}
    
  <form action="" method="post" accept-charset="utf-8">  
    <table class="table table-hover" align="center">
        <tr>
            <th style="text-align:center">Item Number</th>
            <th style="text-align:center">Desciption</th>
            <th style="text-align:center">Quantity</th>
            <th style="text-align:center">Rate</th>
        </tr>
        {% for i in range(cart|length) %}
            <tr>
                <td align="center">{{cart[i][0]}}</td>
                <td align="center">{{cart[i][1]}}</td>
                <td align="center">{{cart[i][2]}}</td>
                <td align="center">{{cart[i][3]}}</td>
                
            </tr>
        {% endfor %}
    </table>
    <div class="text-center">
       <!--  <button type="submit" class="btn btn-info btn-fill btn-wd">Submit</button> -->
    </div>
  </form>
    {% else %}
     Everything is in Stock
{% endif %}
</div>

{% endblock %}





   

  